.centerNewsCard {
  cursor: pointer;
  padding-left: 16px;
}
.centerNewsCardWithRightLine {
  cursor: pointer;
  padding-right: 16px;
  border-right: 1px solid #eeeeee;
}

.label {
  font-weight: 700;
  font-size: 20px;
  color: red;
}
.bold {
  font-weight: 700;
  font-size: 20px;
  color: black !important;
}
