.rightCardContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eeeeee;
  .imageWrapper {
    width: 50%;
  }
  img {
    padding: 10px;
    height: 120px;
  }
}
