.centerNewsContainer {
  width: 100%;
  .selectedNewsWrapper {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    .selectedNews {
      width: 60%;
      padding-right: 10px;
      border-right: 1px solid #eeeeee;
    }
    .advertise {
      width: 40%;
    }
  }
  @media (max-width: 1024px) {
    .selectedNewsWrapper {
      flex-wrap: wrap;
      .selectedNews {
        width: 100%;
      }
      .advertise {
        width: 100%;
      }
    }
  }
  .advertise {
    .header {
      font-size: 20px;
      font-weight: 600;
      margin: 0px;
    }
    .adOne {
      max-width: 100%;
      height: 300px;
      background: rgb(214, 211, 211);
      border: 1px solid #eeeeee;
      border-radius: 10px;
      margin-bottom: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        font-size: 30px;
        color: blanchedalmond;
      }
    }
    .rightNewsContainer {
      padding-top: 10px;
      margin-top: 10px;
      border-top: 1px solid #eeeeee;
    }
  }
  @media (max-width: 1023px) {
    .yellow {
      font-size: 16px;
      padding-left: 10px;
    }
  }
  @media (max-width: 468px) {
    .yellow {
      font-size: 12px;
      padding-left: 20px;
    }
    .advertise {
      padding: 0px 10px;
      width: fit-content;
    }
  }

  .headerWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    .circle {
      padding: 8px;
      border-radius: 50%;
      background: blue;
    }
    .header {
      font-size: 20px;
      font-weight: 600;
      margin: 0px;
    }
  }

  .largeNews {
    cursor: pointer;
    width: 100%;
    img {
      width: 100%;
    }
    .largeNewsTitle {
      bottom: 10px;
      font-size: 24px;
      padding: 0px 20px;
      margin-top: -100px;
      color: white;
      font-weight: 600;
      white-space: nowrap;
    }
  }
  .centerCards {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 1023px) {
    .centerCards {
      padding-top: 60px !important;
    }
  }
}
@media (max-width: "468px") {
  .largeNews {
    .thumb {
      width: fit-content;
    }
  }
}

.bold {
  font-weight: 700;
}
.semibold {
  font-weight: 600;
}
.yellow {
  color: yellow !important;
  font-size: 20px;
}
.labelClass {
  color: white;
  font-size: 20px;
}
