.centerNewsContainer {
  width: 100%;
  .headerWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    .circle {
      padding: 8px;
      border-radius: 50%;
      background: blue;
    }
    .header {
      font-size: 20px;
      font-weight: 600;
      margin: 0px;
    }
  }

  .largeNews {
    position: relative;
    width: 100%;
    img {
      width: 100%;
    }
    .largeNewsTitle {
      position: absolute;
      left: 50%;
      right: 50%;
      bottom: 10px;
      font-size: 24px;
      color: white;
      font-weight: 600;
      white-space: nowrap;
    }
  }
}
