.headlineContainer {
  display: flex;
  align-items: flex-start;
  //   flex-wrap: wrap;
  font-size: 20px;
  font-weight: 500;
  color: red;
  // .headline {
  //   white-space: nowrap !important;
  // }
  .black {
    color: black;
  }
  .headline {
    color: black;
  }
}
